<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ContactsApp</display-name>
	<servlet>  
        <servlet-name>login</servlet-name>  
        <servlet-class>com.controller.LoginServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>login</servlet-name>  
        <url-pattern>/loginServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>signUp</servlet-name>  
        <servlet-class>com.controller.SignUpServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>signUp</servlet-name>  
        <url-pattern>/signUpServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>main</servlet-name>  
        <servlet-class>com.controller.MainServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>main</servlet-name>  
        <url-pattern>/mainServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>addContact</servlet-name>  
        <servlet-class>com.controller.AddContactServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>addContact</servlet-name>  
        <url-pattern>/addContactServlet</url-pattern>  
    </servlet-mapping>
  
    <servlet>  
        <servlet-name>searchContact</servlet-name>  
        <servlet-class>com.controller.SearchContactServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>searchContact</servlet-name>  
        <url-pattern>/searchContactServlet</url-pattern>  
    </servlet-mapping>

    <welcome-file-list>  
        <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>
</web-app>